body {
    font-family: Arial, sans-serif;
    background-image: url('Random grupe bakrundTilebel.png');
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: 50px;
}

h1 {
    color: #ffffff;
}

button {
     background-image: linear-gradient( rgb(47, 0, 255) , rgb(0, 183, 255));
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    
    width: 200px;
    height: 50px;  
}

button:hover {
    background: linear-gradient(to bottom, #205337, #000000);
    
}


#groupOutput {
    text-align: center;
    margin: 50px;
}
#test{
    color: #9ff39f; 
}
#Dbaner{

    margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#sliderTall{
    color: #9ff39f;
}

#name{
    min-height:100px;
    min-width:200px;
    background-color: #ffffff;
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 10px;  
}

#GrupeSlider{
    appearance: none;
    background: #4e576b;
    
}

.boxclass{
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 150px;  
    resize: none;
    margin: 30;
    background-color: #ffffff;
}

#testid{
resize: none;
}

/* You can add more styles as needed */