body {
    font-family: Arial, sans-serif;
    background-image: url('Random grupe bakrundTilebel.png');
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: 50px;
}

h1 {
    color: #ffffff;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 22px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 10px;  
}

button:hover {
    background: linear-gradient(to bottom, #205337, #2a662e);
    
}


#groupOutput {
    text-align: center;
    margin: 50px;
}

#name{
    min-height:100px;
    min-width:200px;
    background-color: #ffffff;
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 10px;  
}

#GrupeSlider{
    appearance: none;
    background: #4e576b;
    
}

.boxclass{
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 150px;  
    resize: none;
    margin: 30;
    background-color: #ffffff;
}

#testid{
resize: none;
}

/* You can add more styles as needed */