body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: 50px;
}

h1 {
    color: #ffffff;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

button:hover {
    background: linear-gradient(to bottom, #205337, #2a662e);
}


#groupOutput {
    text-align: center;
    margin: 50px;
}

#name{
    min-height:100px;
    min-width:200px;
    background-color: #ffffff;
}

#GrupeSlider{
    appearance: none;
    background: #4e576b;
    
}

.boxclass{
    resize: none;
    margin: 30;
    background-color: #ffffff;
}

#testid{
resize: none;
}

/* You can add more styles as needed */